<div>
  <h2>Users List</h2>
  <jce-user-form (userAddedEvent) = "adduser($event)">></jce-user-form>
 <ul class="list-group users">
    <li *ngFor = "let user of users" 
        [class.active]="currentUser == user" 
        (click) = "select(user)"
        class="list-group-item">
 <!--      <jce-user [user] = user (deleteEvent) = "deleteUser($event)"></jce-user>-->
       <jce-user [user] = user (editEvent) = "editUser($event) "[user] = user (deleteEvent) = "deleteUser($event)"></jce-user>       
       <ul>
          <li *ngFor = "let title of user.postTitles">
          {{(title | async)?.title}}
          </li>
       </ul>
   </li>
  </ul>
</div>