<div>
  <h3>Posts list:</h3>
<jce-post-form (userAddedEvent) = "adduser($event)">></jce-post-form>  
    <jce-spinner [visible] = "isLoading"></jce-spinner>
  <ul class="list-group posts">
    <li *ngFor = "let post of posts" 

        class="list-group-item">
       <jce-post [post] = post (editEvent) = "editPost($event)"[post] = post (deleteEvent) = "deletePost($event)"></jce-post>
          <ul>
          <li *ngFor = "let name of post.postUsers">
          {{(name | async)?.name}}
          </li>
       </ul>
    </li>
  </ul>
</div>